<!doctype html>
<html lang='en' ng-app="shoppingCart">

<head>
    <meta charset="utf-8">
    <title>Book Shopping Cart</title>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>-->
    <script src="angularjs/angular16.js"></script>
    <script src="cart.js"></script>
    <link rel="stylesheet" href="css/style.css">
</head>

<body ng-controller="CartController">

    <table>
        <caption><b>My Books</b></caption>
        <thead>
            <tr>
                <th>Title</th>
                <th>Qty</th>
                <th>UnitPrice</th>
                <th>Unit Price($)</th>
                <th>Line Total</th>
                <th>Total<span ng-bind="books.totalPrice"></span></th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th colspan="3" ng-click="addBook()"><button class="round1">New</button></th>
                <th colspan="4" ng-click="saveBook()"><button class="round1">Save</button></th>
            </tr>
        </tfoot>
        <tbody ng-repeat="book in books">
            <tr>
                <td><input class="rounded" ng-model="book.title"></td>
                <td>
                    <input class="rounded" ng-model="book.qty" ng-change="getTotalPrice()" size="2">
                </td>
                <td><input class="rounded" ng-model="book.price" ng-change="getTotalPrice()"></td>
                <td>{{book.price | currency}}</td>
                <td>{{book.price * book.qty | currency}}</td>
                <td>
                    <button class="button" ng-click="removeBook($index)">
                        Remove
                    </button>
                </td>
            </tr>
        </tbody>

    </table>
</body>

</html>
